html{
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 220px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



img {
    margin: 2rem 0 0.5rem 0;
    width: 10rem;
    height: 15rem;
}

input {
    color:#0e63a3;
    width: 20rem;
    padding: 6px 6px;
    border: solid 1px #0e63a3;
    border-radius: 6px;
}

button {
    color: #0e63a3;
    background-color: white;
    padding: 6px 6px;
    border: solid 1px #0e63a3;
    border-radius: 6px;
    cursor: pointer;
}

.btn-list {
    width: 5rem;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

}

button:hover {
    color: white;
    background-color: #0e63a3;
}


.movie button {
    position: absolute;
    bottom: 0;
    width: 5rem;
}

.del-btn {
    color: darkred;
    border-color: darkred;
}
h1{
   text-align: center;
}
p{
    text-align: center;
}
html{
    background-color:aliceblue;
}

#mid{
    text-align: center;
    
}
.container{
    background-image: url(./e5ac2a2_79425-3203180.jpg);
    color: aliceblue;
    height: 300px;
    margin-top: -3rem;
    align-items: center;
    
}
.container:before{
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 273px;
}


.content-parent{
    position: relative;
    top: 80px;
    filter: brightness(1);
}

.regis{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: end;
    margin: 0 -30px;
}